@model CinemaWrld.Application.Areas.Making.Models.Cinemas.ViewModels.CinemasViewModel
@{}



<div>
    <a class="btn btn-outline-primary" asp-action="Create">Add cinema</a>
</div>



<div>

    <ul>
        @foreach (var cinema in Model.Cinemas)
        {
        <li>
            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@cinema.Id">
                @cinema.Name | @cinema.Location | @cinema.PhoneNumber
            </a>
        </li>
            
        }
    </ul>
</div>