@model CinemaWrld.Application.Areas.Making.Models.Actors.BindingModels.CreateActorBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create actor</h1>


<hr />

<div>
    <a class="btn btn-warning " asp-action="Index"><--</a>
</div>
<div class="row">
    <div class="w-50 mx-auto">
        <form method="POST" asp-action="Create">

            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class="form-control">
                    @foreach (var movie in ViewBag.Movies)
                    {
                        <option value="@movie.Id">@movie.Title</option>
                    }

                </select>


            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayingAs" class="control-label"></label>
                <input asp-for="PlayingAs" class="form-control" />
                <span asp-validation-for="PlayingAs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning w-100 mx-auto " />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
