@model CinemaWrld.Application.Areas.Making.Models.Movies.BindingModels.CreateMovieBindingModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create movie</h1>



<hr />
<div>
    <a class="btn btn-warning " asp-action="Index"><--</a>
</div>
<br />

<div class="row">
    <div class=" w-50 mx-auto">
        <form method="POST" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CinemaId" class="control-label"></label>
                <select asp-for="CinemaId" class="form-control">
                    @foreach (var cinema in ViewBag.Cinemas)
                    {
                        <option value="@cinema.Id">@cinema.Name</option>
                    }

                </select>

            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control">
                    <option>Action</option>
                    <option>Comedy</option>
                    <option>Drama</option>
                    <option>Fantasy</option>
                    <option>Romance</option>
                    <option>Horror</option>
                    <option>Other</option>
                </select>

              
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAgeRestricted" /> @Html.DisplayNameFor(model => model.IsAgeRestricted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiereDate" class="control-label"></label>
                <input asp-for="PremiereDate" class="form-control" />
                <span asp-validation-for="PremiereDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastProjectionDate" class="control-label"></label>
                <input asp-for="LastProjectionDate" class="form-control" />
                <span asp-validation-for="LastProjectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning w-100 mx-auto " />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
