@model ErrorViewModel

@{
    this.ViewData["Title"] = "Something went wrong";
}

<h1 class="text-danger text-center">Something went wrong!</h1>
<p class="text-center">Error code: @Model.ErrorCode</p>